@model FCBarcelonaApp.Models.Game.GameDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GameDetailsVM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfGame)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfGame)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Place)
        </dd>
        @*@<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyTeamId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyTeamId)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyTeamName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MyTeamName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyTeamPicture)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.MyTeamPicture)" alt="Emblem" width="100" />
            @*Html.DisplayFor(model => model.TeamPicture)*@
        </dd>
        @*@<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamId)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamPicture)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.TeamPicture)" alt="Emblem" width="100" />
            @*Html.DisplayFor(model => model.TeamPicture)*@
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
     @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
