@model IEnumerable<FCBarcelonaApp.Models.Game.GameIndexVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Game" asp-action="Index" method="get">
    <p>
       Place: <input type="text" name="SearchStringPlace" />
        Team: <input type="text" name="SearchStringTeamName" />

        <input type="submit" value="Filter" />

    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfGame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyTeamPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyTeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfGame)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem=> item.MyTeamPicture)" alt="Image" width="100" />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyTeamName)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem=> item.TeamPicture)" alt="Image" width="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
     @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
